# Data (no se sube a Git) - ignorar contenido, no carpetas
data/raw/*
data/processed/*

# Mantener estructura en Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
logs/

# Outputs temporales
outputs/
*.parquet
*.csv
*.db
*.sqlite

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

